[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "==0.7.4"
vdf = "==3.4"

[dev-packages]
pyinstaller = "*"
pillow = "*"
black = "*"
ruff = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
